@use "global" as *;

.p-header {  
  height: rem(76);
  background: $white;
  z-index: 100;
  position: fixed;  
  width: 100%;  
  transition: 0.3s; 
  // padding-top: rem(10); 
  top: 0; /* ヘッダーをページの上端に固定 */
  left: 0; /* ヘッダーの左端をページの左端に固定 */
  right: 0; /* ヘッダーの右端をページの右端に固定 */
  @include mq(md) {
    height: rem(100);
    background-color: transparent;  
  }

}

.p-header.header--sticky {
  color: $black;
  background-color: $white;  
}

.header--sticky .pc-nav__item a {
  color: $black;
}

.p-header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(18);  
  @include mq(md){
    padding: rem(12) rem(20);    
  }
}

.p-header__drawer {
  @include mq(md) {
    display: none;
  }
}

.p-header__pc-nav {
  height: inherit;
  display: none;
  @include mq(md){
    display: block;
    display: flex;  
    align-items: center;  
  }
}

.color-light {
  @include mq(md) {
    margin-right: rem(12);
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  animation: slideDown 0.3s ease-in-out;  
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

:target {
  scroll-margin-top: rem(60);
}